body {
  background: rgb(153, 209, 75);
}

a {
  color: rgb(245, 134, 52);
  font-weight: bold;
}

a:hover {
  color: rgb(32, 106, 93);
  font-weight: bold;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
